@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(212, 45%, 89%);
  --clr-grayish-blue: hsl(220, 15%, 55%);
  --clr-dark-blue: hsl(218, 44%, 22%);
}

body {
  background: var(--clr-light-gray);
  min-height: 100vh;
  font-family: "Outfit";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qr-container {
  background: var(--clr-white);
  width: 280px;
  padding: 16px;
  border-radius: 16px;
  text-align: center;
}

.qr-container img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.qr-container h2 {
  font-weight: 700;
  color: var(--clr-dark-blue);
  /* padding: 0 8px; */
}

.qr-container p {
  padding: 0 15px;
  font-weight: 400;
  font-size: 15px;
  color: var(--clr-grayish-blue);
}


.attribution {
  font-size: 13px;
  margin: 0.5em;
  text-align: center;
}
.attribution a {
  color: hsl(24, 83%, 54%)
}
